name: Deploy
on:
  push:
    branches: [ main ]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: deploy to development server
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: ${{ secrets.SSH_PORT }}
        script: 'cd uat.pfbcash.khmer-app.com && git init && git reset --hard && git pull origin main && composer update && cp .env.uat .env && php artisan migrate:fresh --seed'
          